<Page  class="page">

  <Page.actionBar>
    <ActionBar class="action-bar" title="Actions"></ActionBar>
  </Page.actionBar>

  <FlexboxLayout class="m-15" flexDirection="column">
    <GridLayout columns="auto, auto, *" rows="auto, auto, auto"  class="m-15">
      <Image col="0" width="25" class="m-r-5" src="res://fan"></Image>
      <Label col="1" class="h3" [text]="firstSwitchState"></Label>
      <Switch col="2" checked="false" (checkedChange)="onFirstChecked($event)"></Switch>
    </GridLayout >
    <GridLayout columns="auto, auto, *" rows="auto, auto, auto"  class="m-15">
      <Image col="0" width="25" class="m-r-5" src="res://fan"></Image>
      <Label col="1" class="h3" [text]="firstSwitchState"></Label>
      <Switch col="2" checked="false" (checkedChange)="onFirstChecked($event)"></Switch>
    </GridLayout >
    <GridLayout columns="auto, auto, *" rows="auto, auto, auto"  class="m-15">
      <Image col="0" width="25" class="m-r-5" src="res://fan"></Image>
      <Label col="1" class="h3" [text]="firstSwitchState"></Label>
      <Switch col="2" checked="false" (checkedChange)="onFirstChecked($event)"></Switch>
    </GridLayout >
    <GridLayout columns="auto, auto, *" rows="auto, auto, auto"  class="m-15">
      <Image col="0" width="25" class="m-r-5" src="res://fan"></Image>
      <Label col="1" class="h3" [text]="firstSwitchState"></Label>
      <Switch col="2" checked="false" (checkedChange)="onFirstChecked($event)"></Switch>
    </GridLayout >        
  </FlexboxLayout>

</Page> 